swagger: '2.0'
info:
  title: Uber API
  description: Sample Backen Application
  version: "1.0.0"
# the domain of the service
host: api.uber.com
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /
produces:
  - application/json

paths:
  /calc/plus:
    get:
      summary: Calculator for plus
      description: |
        This REST call will show you the calc result of a+b
      operationId: "plus"
      parameters:
        - name: a
          in: query
          description: The first number
          required: true
          type: number
          format: integer
        - name: b
          in: query
          description: The second number
          required: true
          type: number
          format: integer          
      responses:
        200:
          description: success response
          schema:
            $ref: '#/definitions/CalcResult'
            
  /calc/multiply:
    get:
      summary: Calculator for multiply
      description: |
        This REST call will show you the multiply result of a*b
      operationId: "multiply"
      parameters:
        - name: a
          in: query
          description: The first number
          required: true
          type: number
          format: integer
        - name: b
          in: query
          description: The second number
          required: true
          type: number
          format: integer          
      responses:
        200:
          description: success response
          schema:
            $ref: '#/definitions/CalcResult'
            
            
  /from:
    get:
      summary: Show the value of from.
      description: |
        Return the configure value of from to show you where does this value come from.
      operationId: "getFromConfig"
      responses:
        200:
          description: success response
          schema:
            type: string

  /iplookup:
    get:
      summary: lookup your IP Address
      operationId: "iplookup"
      description: |
        calculate your IP address
      responses:
        200:
          description: success response
          schema:
            $ref: '#/definitions/IPAddress'
            
definitions:
  CalcResult:
    type: object
    properties:
      result:
        type: string
  IPAddress:
    type: object
    properties:
      ip:
        type: string        
